body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.picture-frame{
	margin-top:5px;
	margin-right: 20px;
}

.audio-backgroundcolor{
	background-color: #285E8E;
}
